<mat-horizontal-stepper [linear]="false" #stepper>

	<mat-step [stepControl]="frmStepOne">
		<ng-template matStepLabel>General info</ng-template>
		<app-form-main></app-form-main>
		<button mat-button (click)="submit()">Submit</button>
	</mat-step>

	<mat-step>
		<ng-template matStepLabel>Location</ng-template>
		<app-form-location></app-form-location>
	</mat-step>

	<mat-step>
		<ng-template matStepLabel>Location</ng-template>
		<app-form-location></app-form-location>
	</mat-step>

	<mat-step>
		<ng-template matStepLabel>Location</ng-template>
		<app-form-location></app-form-location>
	</mat-step>

</mat-horizontal-stepper>