<div class="gradient"></div>
<div class="container" *ngIf="car">
  <div class="row">
    <div class="col-12 col-lg-7">
      <h1 class="mt-2">
        {{'COMMON.RESERVATION'|translate}}
      </h1>
      <h3 class="mt-5">
        {{'CARS.RESERVATION.IMPORTANT_DATES'|translate}}
      </h3>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="date-box text-center p-1">
            <span class="font-weight-bold h4">{{
              selectedMoments[0] | amLocale: (languageService.languageChanged | async) | amDateFormat: "D"
            }}</span>
            <br class="p-0 m-0" />
            {{ selectedMoments[0] | amLocale: (languageService.languageChanged | async) | amDateFormat: "MMM" }}
          </div>
          <div class="date-info">
            {{
              selectedMoments[0]
                | amLocale: (languageService.languageChanged | async)
                | amDateFormat: "dddd"
                | titlecase
            }}
            - {{'CARS.RESERVATION.PICKUP'|translate}}
            <br class="p-0 m-0" />
            {{'CARS.RESERVATION.PICKUP_HOUR'|translate}}
          </div>
        </div>
        <div class="col-12 col-md-6 dates">
          <div class="date-box text-center p-1">
            <span class="font-weight-bold h4">{{
              selectedMoments[1] | amLocale: (languageService.languageChanged | async) | amDateFormat: "D"
            }}</span>
            <br class="p-0 m-0" />
            {{ selectedMoments[1] | amLocale: (languageService.languageChanged | async) | amDateFormat: "MMM" }}
          </div>
          <div class="date-info">
            {{
              selectedMoments[1]
                | amLocale: (languageService.languageChanged | async)
                | amDateFormat: "dddd"
                | titlecase
            }}
            - {{'CARS.RESERVATION.RETURN'|translate}}
            <br class="p-0 m-0" />
            {{'CARS.RESERVATION.RETURN_HOUR'|translate}}
          </div>
        </div>
      </div>

      <h3 class="mt-5 mb-3">
        {{'CARS.RESERVATION.HAVE_IN_MIND'|translate}}
      </h3>
      <div class="icon-item" *ngIf="!car.pets">
        <img src="assets/images/no-pets.png" class="custom-icons" alt="" />
        {{'CARS.RESERVATION.NO_PETS'|translate}}
      </div>

      <div class="icon-item" *ngIf="!car.smoking">
        <img src="assets/images/no-smoking.svg" class="custom-icons" alt="" />
        {{'CARS.RESERVATION.NO_SMOKING'|translate}}
      </div>
      <div class="icon-item">
        <img src="assets/images/km-included.png" class="custom-icons" alt="" />
        {{'CARS.RESERVATION.YOU_HAVE'|translate}} {{ car.included_km }}{{'CARS.RESERVATION.KM_PER_DAY'|translate}} ({{
          car.included_km * daysReserved
        }}{{'CARS.RESERVATION.KM_TOTAL'|translate}})
      </div>
      <div class="icon-item">
        <img
          src="assets/images/extra-km-price.png"
          class="custom-icons"
          alt=""
        />
        {{'CARS.RESERVATION.KM_LIMIT'|translate}}
        {{ car.price_per_extra_km }}{{'COMMON.LV'|translate}}
      </div>

      <h3 class="mt-5 mb-3">
        {{'CARS.RESERVATION.APPROVE_AND_PAY'|translate}}
      </h3>

      <div class="price-backup">
        <div class="row">
          <div class="col-6 text-left">
            <span>{{ car.price }}{{'COMMON.LV'|translate}} х {{ daysReserved }} {{'COMMON.DAYS'|translate}}</span>
          </div>
          <div class="col-6 text-right">
            <span>WTF{{ car.price * daysReserved }}{{'COMMON.LV'|translate}}</span>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-6 text-left">
            <span
              >{{'COMMON.TAX'|translate}}
              <mat-icon
                class="far fa-question-circle h6"
                matTooltip="{{'CARS.DETAILS.TAX_HELP'|translate}}"
                matTooltipPosition="above"
              ></mat-icon
            ></span>
          </div>
          <div class="col-6 text-right">
            <span>7{{'COMMON.LV'|translate}}</span>
          </div>
        </div>
        <!-- <br>
        <span class="price-left">Такса</span> <span class="price-right">7лв</span> -->
        <hr />
        <div class="row mt-1">
          <div class="col-6 text-left">
            <span class="font-weight-bold">{{'COMMON.TOTAL'|translate}}</span>
          </div>
          <div class="col-6 text-right">
            <span class="font-weight-bold">{{ car.price * 2 + 7 }}{{'COMMON.LV'|translate}}</span>
          </div>
        </div>
      </div>

      <div class="icon-item">
        {{'CARS.RESERVATION.PAYMENT_METHOD'|translate}}
        <img
          src="assets/images/visa-mastercard-icon.png"
          class="visa-mc-icon"
          alt=""
        />
      </div>

      <form #form="ngForm" autocomplete="off">
        <input type="hidden" name="id" [value]="formData.id" />
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                <i
                  class="fa fa-user-circle width18"
                  [class.green-icon]="card_owner_name.valid"
                  [class.red-icon]="
                    card_owner_name.invalid && card_owner_name.touched
                  "
                ></i>
              </div>
            </div>
            <input
              name="card_owner_name"
              #card_owner_name="ngModel"
              [(ngModel)]="formData.card_owner_name"
              oninput="this.value = this.value.toUpperCase()"
              class="form-control"
              pattern="^[A-Z][A-Z\s]*$"
              placeholder="{{'CARS.RESERVATION.CARD_OWNER_NAME'|translate}}"
              required
            />
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                <i
                  class="fa fa-credit-card"
                  [class.green-icon]="card_number.valid"
                  [class.red-icon]="card_number.invalid && card_number.touched"
                ></i>
              </div>
            </div>
            <input
              name="card_number"
              #card_number="ngModel"
              [(ngModel)]="formData.card_number"
              class="form-control"
              placeholder="{{'CARS.RESERVATION.CARD_NUMBER'|translate}}"
              pattern="^\d{16}"
              digitOnly
              required
              maxlength="16"
              minlength="16"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-7">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                  <i
                    class="fa fa-calendar width18"
                    [class.green-icon]="expiration_date.valid"
                    [class.red-icon]="
                      expiration_date.invalid && expiration_date.touched
                    "
                  ></i>
                </div>
              </div>
              <input
                name="expiration_date"
                #expiration_date="ngModel"
                [(ngModel)]="formData.expiration_date"
                pattern="^\d{2}\/\d{2}$"
                class="form-control"
                placeholder="{{'CARS.RESERVATION.CARD_VALID'|translate}}"
                required
                maxlength="5"
                minlength="5"
              />
            </div>
          </div>
          <div class="form-group col-md-5">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                  <i
                    class="fa fa-key"
                    [class.green-icon]="cvv.valid"
                    [class.red-icon]="cvv.invalid && cvv.touched"
                  ></i>
                </div>
              </div>
              <input
                type="password"
                name="cvv"
                #cvv="ngModel"
                [(ngModel)]="formData.cvv"
                class="form-control"
                placeholder="{{'CARS.RESERVATION.CVV'|translate}}"
                pattern="^\d{3}"
                required
                maxlength="3"
                minlength="3"
              />
            </div>
          </div>
        </div>

        <div class="icon-item row">
          <div class="col-12 col-md-8 mb-3">
            <span class="centered-text h5">
              {{'CARS.RESERVATION.AGREE_WITH_RULES'|translate}}
            </span>
            <div class="can-toggle demo-rebrand-2">
              <input
                id="e"
                type="checkbox"
                name="confirmation"
                #confirmation="ngModel"
                [(ngModel)]="formData.confirmation"
                required
              />
              <label for="e">
                <div
                  class="can-toggle__switch"
                  data-checked="&#10004;"
                  data-unchecked="&#10006;"
                ></div>
              </label>
            </div>
          </div>
          <div class="col-12 col-md-4 text-center">
            <button
              type="submit"
              class="mt-0"
              mdbBtn
              gradient="blue"
              mdbWavesEffect
              size="lg"
              [disabled]="form.invalid"
              (click)="sendReservation()"
            >
              {{'COMMON.RESERVE'|translate}}
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-5 car-summary">
      <app-car-summary
        class="car-fixed"
        [car]="car"
        [selectedMoments]="selectedMoments"
        [daysReserved]="daysReserved"
        [reservationPrice]="reservationPrice"
        [discount]="discount"
      ></app-car-summary>
    </div>
  </div>
</div>
