.register-form{
  // border: solid 2px red;
  border-radius: 6px;
  box-shadow: 0 0 20px 0 rgb(90, 90, 90);
  position: absolute;
  max-width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-fields{
  padding: 20px 40px;
  .col-6{
    padding: 0 20px;
  }
}

.search-button{
  font-size: 1.1rem;
}

// ::ng-deep .mat-input-element{
//   background-color: rgb(180, 180, 180);
// }