<div class="container text-center">
    <div class="row">
        <div class="col-12 col-md-6">
            <h4>Добавете описание:</h4>
            <mat-form-field class="example-full-width col-12" appearance="fill">
                <textarea matInput matTextareaAutosize="true" matAutosizeMinRows=15 placeholder="Напишете нещо повече за колата..."></textarea>
            </mat-form-field>
        </div>
    
        <div class="col-12 col-md-6">
            <h4>Добавете снимки:</h4>
            <app-image-upload (messageEvent)="receiveImages($event)"></app-image-upload>
        </div>
        <!-- <button mat-button (click)="show($event)">Print Info</button> -->
    </div>


    <button mat-button matStepperPrevious>Назад</button>
    <button mat-button matStepperNext>Напред</button>
</div>