.star {
    position: relative;
    display: inline-block;
    // font-size: 1rem;
    color: #d3d3d3;
  }
.full {
    color: rgb(255, 136, 0);
  }
.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: rgb(255, 136, 0);
  }