.choose{
    position: relative;
    border-radius: 8px;
    height: 100%;
    transition: all 0.5s ease;
    cursor: pointer;
    .title{
        position: absolute; 
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
        transition: all 0.3s ease;
        opacity: 0;
        color: white;
        text-shadow: 2px 2px 8px black;
        font-size: 2rem;
        transition: all 0.5s ease;
    }
    .car-view{
        display: block;
        width: 33%;
        height: 100%;
        position: absolute;
        z-index: 100;
        transition: all 0.5s ease;
        background-color: rgba(0, 160, 0, 0.3);
        opacity: 0;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        // background-color: rgba(160, 0, 0, 0.945) !important;
    }
    .car-edit{
        width: 34%;
        height: 100%;
        position: absolute;
        z-index: 100;
        right: 0;
        transition: all 0.5s ease;
        background-color: rgba(255, 0, 0, 0.3);
        opacity: 0;
    }
    .car-reservations{
        width: 33%;
        height: 100%;
        position: absolute;
        z-index: 100;
        left: 33%;
        transition: all 0.5s ease;
        background-color: rgba(0, 47, 255, 0.3);
        opacity: 0;
    }
    &:hover{
        .car-view{
            // background-color: rgba(0, 160, 0, 0.3);
            opacity: 1;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            &:hover{
                .title{
                    font-size: 2.2rem;
                }
                .view-wrapper{
                    background-color: rgba(0, 160, 0, 0.45);
                }
            }
        }
        .car-edit{
            // background-color: rgba(255, 0, 0, 0.3);
            opacity: 1;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            &:hover{
                .title{
                    font-size: 2.2rem;
                }
                .edit-wrapper{
                    background-color: rgba(255, 0, 0, 0.45);
                }
            }
        }
        .car-reservations{
            opacity: 1;
            &:hover{
                .title{
                    font-size: 2.2rem;
                }
                .reservations-wrapper{
                    background-color: rgba(0, 47, 255, 0.45);
                }
            }
        }
        .title{
            opacity: 1;
            transition: all 0.5s ease;
        }
    }
}

.car-view :hover > .car-view{
    background-color: red !important;
}

.view-wrapper{
    height: 100%;
    width: 100%;
    transition: all 0.5s ease;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.edit-wrapper{
    height: 100%;
    width: 100%;
    transition: all 0.5s ease;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.reservations-wrapper{
    height: 100%;
    width: 100%;
    transition: all 0.5s ease;
}