<div class="container text-center">
    <form [formGroup]="mainForm">
        <div class="row mt-5">
            <div class="col-4">
                <h4>Година:</h4>
                <mat-form-field>
                    <mat-label>Изберете година:</mat-label>
                    <mat-select formControlName="year">
                        <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        
            <div class="col-4">
                <h4>Марка:</h4>
                <mat-form-field>
                    <mat-label>Изберете марка:</mat-label>
                    <mat-select formControlName="make">
                        <mat-option *ngFor="let make of makes" [value]="make">{{ make.make_display }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            
            <div class="col-4">
                <h4>Модел:</h4>
                <mat-form-field>
                    <mat-label>Изберете модел:</mat-label>
                    <mat-select formControlName="model">
                        <mat-option *ngFor="let model of models" [value]="model">{{ model.model_name }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-4 text-center">
                <h4>Скоростна кутия:</h4>
                <mat-radio-group color="primary" formControlName="transmission">
                    <mat-radio-button class="m-2" value="Ръчна">Ръчна</mat-radio-button>
                    <mat-radio-button class="m-2" value="Автоматична">Автоматична</mat-radio-button>
                </mat-radio-group>                          
            </div>

            <div class="col-4 text-center">
                <h4>Тип двигател:</h4>
                <mat-form-field>
                    <mat-label>Изберете тип двигател</mat-label>
                    <mat-select formControlName="engine">
                        <mat-option value="Бензинов">Бензинов</mat-option>
                        <mat-option value="Дизелов">Дизелов</mat-option>
                        <mat-option value="Електрически">Електрически</mat-option>
                        <mat-option value="Хибриден">Хибриден</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-4 text-center">
                <h4>Категория:</h4>
                <mat-form-field>
                    <mat-label>Изберете категория:</mat-label>
                    <mat-select formControlName="type">
                        <mat-option value="car">Лек автомобил</mat-option>
                        <mat-option value="suv">Джип</mat-option>
                        <mat-option value="minivan">Миниван</mat-option>
                        <mat-option value="truck">Пикап</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-4 text-center">
                <h4>Мощност:</h4>
                <mat-form-field class="example-full-width">
                    <input matInput formControlName="horsepower" placeholder="Въведете мощност">
                </mat-form-field>                          
            </div>

            <div class="col-4 text-center">
                <h4>Разход:</h4>
                <mat-form-field class="example-full-width">
                    <input matInput formControlName="consumption" placeholder="Въведете разход">
                </mat-form-field>
            </div>

            <div class="col-4 text-center">
                <h4>Брой места:</h4>
                <mat-form-field class="example-full-width">
                    <input matInput formControlName="seats" placeholder="Въведете брой">
                </mat-form-field>
            </div>
        </div>
            
        <!-- <button (click)="printCars()">INFO</button> -->
    </form>
    <button mat-button matStepperNext>Next</button>
</div>