<div class="row container m-0">
    <form [formGroup]="locationForm" class="col-6 row">
        <div class="col-6 car-location">
            <!-- <div class="h4">
                Област:
            </div> -->
            <i class="fas fa-globe text-primary"></i>
            <mat-form-field class="example-full-width w-75">
                <input type="text" placeholder="Изберете област" aria-label="Number" matInput formControlName="region"
                    [matAutocomplete]="auto1">
                <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let region of filteredRegions | async" [value]="region">
                        {{ region.name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <div class="col-6 car-location">
            <!-- <div class="h4">
                Град:
            </div> -->
            <i class="fas fa-location-arrow text-primary"></i>
            <mat-form-field class="example-full-width w-75">
                <input type="text" placeholder="Изберете град" matInput formControlName="city"
                    [matAutocomplete]="auto2">
                <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let city of filteredCities | async" [value]="city">
                        {{ city.name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

    </form>

    <div class="ml-3 col-6 row pr-0">
        <div class="col-12">
            <div class="cal-input m-0">
                <i class="fa fa-calendar cal-start"></i>
                <mat-form-field class="example-full-width col-10">
                    <input readonly matInput class="text-center" autocomplete="off" placeholder="Дати на наемане"
                        [(ngModel)]="selectedMoments" [selectMode]="'range'" [min]="min"
                        [owlDateTimeTrigger]="dtPicker1" [owlDateTime]="dtPicker1">
                </mat-form-field>
                <owl-date-time #dtPicker1 [pickerType]="'calendar'" [startAt]="startAt" [firstDayOfWeek]=1></owl-date-time>
            </div>
        </div>
    </div>

    <!-- <div class="ml-3 col-6 row pr-0">
        <div class="col-6">
            <div class="cal-input m-0">
                <i class="fa fa-calendar cal-start"></i>

                <mat-form-field class="example-full-width">

                    <input matInput class="text-center" autocomplete="off" placeholder="Дата на наемане"
                        [owlDateTimeTrigger]="dt12" [owlDateTime]="dt12" [(ngModel)]="selectedMoments"
                        [owlDateTimeFilter]="" [selectMode]="'rangeFrom'" [min]="min"  (dateTimeChange)="printInfo()">
                </mat-form-field>
                <owl-date-time #dt12 [startAt]="startAt" [firstDayOfWeek]=1 [stepMinute]=60 (afterPickerClosed)="printInfo()"></owl-date-time>
            </div>
        </div>


        <div class="col-6">
            <div class="cal-input m-0">
                <i class="fa fa-calendar cal-end"></i>

                <mat-form-field class="example-full-width">

                    <input matInput class="text-center" autocomplete="off" placeholder="Дата на връщане"
                        [owlDateTimeTrigger]="dt13" [owlDateTime]="dt13" [(ngModel)]="selectedMoments"
                        [owlDateTimeFilter]="" [selectMode]="'rangeTo'" [min]="selectedMoments[0] || min">
                </mat-form-field>
                <owl-date-time #dt13 [startAt]="startAt" [firstDayOfWeek]=1 [stepMinute]=60></owl-date-time>
            </div>
        </div>
    </div> -->
</div>


<!-- <button (click)=showFilters()>
    Print
</button> -->