<div class="row container m-0">
  <form [formGroup]="locationForm" class="col-12 col-md-6 row m-0 p-0">
    <div class="col-12 col-sm-6 car-location">
      <i class="fas fa-globe text-primary"></i>
      <mat-form-field class="example-full-width w-75">
        <input
          type="text"
          placeholder="{{ 'HOME.FILTERS.AREA' | translate }}"
          aria-label="Number"
          matInput
          formControlName="region"
          [matAutocomplete]="auto1"
        />
        <mat-autocomplete
          autoActiveFirstOption
          #auto1="matAutocomplete"
          [displayWith]="displayFn"
        >
          <mat-option
            *ngFor="let region of filteredRegions | async"
            [value]="region"
          >
            {{ region.name|translate }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div class="col-12 col-sm-6 car-location">
      <i class="fas fa-location-arrow text-primary"></i>
      <mat-form-field class="example-full-width w-75">
        <input
          type="text"
          placeholder="{{ 'HOME.FILTERS.CITY' | translate }}"
          matInput
          formControlName="city"
          [matAutocomplete]="auto2"
        />
        <mat-autocomplete
          autoActiveFirstOption
          #auto2="matAutocomplete"
          [displayWith]="displayFn"
        >
          <mat-option
            *ngFor="let city of filteredCities | async"
            [value]="city"
          >
            {{ city.name|translate }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </form>

  <div class="col-12 col-md-6">
    <div class="cal-input m-0">
      <i class="fa fa-calendar cal-start"></i>
      <mat-form-field class="w-75">
        <input
          readonly
          matInput
          class="text-center"
          autocomplete="off"
          placeholder="{{ 'HOME.FILTERS.RENT_DATES' | translate }}"
          [(ngModel)]="selectedMoments"
          [selectMode]="'range'"
          [min]="min"
          [owlDateTimeTrigger]="dtPicker1"
          [owlDateTime]="dtPicker1"
        />
      </mat-form-field>
      <owl-date-time
        #dtPicker1
        [pickerType]="'calendar'"
        [startAt]="startAt"
        [firstDayOfWeek]="1"
      ></owl-date-time>
    </div>
  </div>
</div>

<!-- <button (click)=showFilters()>
    Print
</button> -->
