<div class="container">
  <div class="login-form">
    <form class="form-fields row" [formGroup]="loginForm" (keyup.enter)="loginUser()">
      <!-- <div class="text-center col-12 mt-2">
        <h1>Влезе във вашият профил</h1>
        <hr>
      </div> -->
      
      <div class="col-12 text-center">
        <img class="login-img" src="assets/images/login-image.png" alt="">
      </div>

      <mat-form-field class="col-6">
        <input type="text" placeholder="{{'HOME.AUTH.LOGIN.USERNAME'|translate}}" matInput formControlName="username" autocomplete="off" required>
        <mat-error *ngIf="loginForm.hasError('required', 'username')">{{ 'HOME.AUTH.LOGIN.USERNAME_EMPTY_ERROR' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-6">
        <input type="password" placeholder="{{'HOME.AUTH.LOGIN.PASSWORD'|translate}}" matInput formControlName="password" required>
        <mat-error *ngIf="loginForm.hasError('required', 'password')">{{ 'HOME.AUTH.LOGIN.PASSWORD_EMPTY_ERROR' | translate }}</mat-error>
      </mat-form-field>
    </form>
    <div class="text-center">
      <mat-error *ngIf="errors">{{ 'HOME.AUTH.LOGIN.LOGIN_ERROR'|translate }}</mat-error>
      <button class="search-btn" type="button" mdbBtn gradient="blue" size="lg" mdbWavesEffect (click)="loginUser()"
        [disabled]="loginForm.invalid">{{ 'HOME.AUTH.LOGIN.LOGIN' | translate }}</button>
      <!-- <p class="message">Нямате профил? <a (click)="goToRegister()">Регистрирайте се тук</a></p> -->
    </div>
    <!-- <button (click)="printInfo()">Print</button> -->
  </div>
</div>