<div class="gradient"></div>
<div class="container">
  <h1 class="mt-2">
    {{'NAVBAR.SETTINGS'|translate}}
  </h1>
  <div class="row mt-3">
    <!-- <div class="text-center col-12 mt-2">
      <h4>Създайте вашият профил</h4>
      <h6>Възползвайте се максимално от нашите услуги</h6>
      <hr />
    </div> -->

    <!-- <div class="col-12 text-center current-pic" *ngIf="!changePic"> -->
      
      <!-- <hr /> -->
    <!-- </div> -->
    <div class="col-12 text-center pics">
      <div class="profile-pic current-pic" *ngIf="!changePic">
        <img [src]="user.photo" (click)="changeProfilePic()" alt="" />
        <div class="change-pic">
          {{'USER.CHANGE_PICTURE'|translate}}
        </div>
      </div>
      <ngx-image-uploader
        class="profile-pic"
        [options]="imageOptions"
        #imageUploader
      ></ngx-image-uploader>
      <button type="button" (click)="updateProfile(imageUploader)">Upload</button>
    </div>

    <hr />
    <h3 class="col-12 text-center">{{'USER.INFORMATION'|translate}}</h3>

    <mat-form-field class="col-4 mat-field">
      <input
        type="text"
        placeholder="{{'HOME.AUTH.REGISTER.USERNAME'|translate}}"
        matInput
        [(ngModel)]="user.username"
        readonly
      />
    </mat-form-field>
    <mat-form-field class="col-4 mat-field">
      <input
        type="text"
        placeholder="{{'HOME.AUTH.REGISTER.FIRST_NAME'|translate}}"
        matInput
        [(ngModel)]="user.first_name"
        readonly
      />
    </mat-form-field>
    <mat-form-field class="col-4 mat-field">
      <input
        type="text"
        placeholder="{{'HOME.AUTH.REGISTER.LAST_NAME'|translate}}"
        matInput
        [(ngModel)]="user.last_name"
        readonly
      />
    </mat-form-field>
    <mat-form-field class="col-4 mat-field">
      <input
        type="text"
        placeholder="E-mail"
        matInput
        [(ngModel)]="user.email"
        readonly
      />
    </mat-form-field>
    <mat-form-field class="col-4 mat-field">
      <input
        type="text"
        placeholder="{{'HOME.AUTH.REGISTER.BIRTH_DATE'|translate}}"
        matInput
        [(ngModel)]="user.birth_date"
        readonly
      />
    </mat-form-field>
    <mat-form-field class="col-4 mat-field">
      <input
        type="text"
        placeholder="{{'HOME.AUTH.REGISTER.PHONE'|translate}}"
        matInput
        [(ngModel)]="user.phone"
        readonly
      />
    </mat-form-field>

    <hr />

    <div class="col-12 text-center mt-3">
      <button
        class="search-btn"
        type="button"
        mdbBtn
        gradient="blue"
        size="lg"
        mdbWavesEffect
        (click)="updateProfile(imageUploader)"
      >
        {{'USER.SAVE'|translate}}
      </button>

    <!-- <h3 class="col-12 text-center">Промяна на данни</h3>

    <form
      [formGroup]="registerForm"
    >
    <div class="row">

      <mat-form-field class="col-12">
        <input
        type="text"
        placeholder="Телефон"
        matInput
        formControlName="phone"
        autocomplete="off"
        required
        pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\./0-9]*$"
        />
        <mat-error *ngIf="registerForm.hasError('required', 'phone')"
        >Моля въведете телефон</mat-error
        >
        <mat-error *ngIf="registerForm.hasError('pattern', 'phone')"
        >Невалиден формат</mat-error
        >
      </mat-form-field>
    </div>
    </form>
    <div class="col-12 text-center mt-3">
      <button
        class="search-btn"
        type="button"
        mdbBtn
        gradient="blue"
        size="lg"
        mdbWavesEffect
        (click)="updateProfile(imageUploader)"
        [disabled]="registerForm.invalid"
      >
        Запази
      </button> -->
      <!-- <p class="message">Имате профил? <a (click)="goToLogin()">Логнете се тук</a></p> -->
    </div>
    <!-- <button (click)="printInfo()">Print</button> -->
  </div>
</div>
