<div class="container text-center">
  <div class="row" [formGroup]="rulesForm">
    <div class="col-12 col-md-6 conditions">
      <h4>{{'HOSTING.RENTING_RULES'|translate}}</h4>
      <div class="row">
        <div class="col-12 mt-4 row">
          <h6 class="col-8 text-left">{{'HOSTING.PETS'|translate}}</h6>
          <mat-radio-group
            color="primary"
            class="col-4 text-right"
            formControlName="pets"
          >
            <mat-radio-button class="ml-2" value="true">{{'COMMON.YES'|translate}}</mat-radio-button>
            <mat-radio-button class="ml-2" value="false">{{'COMMON.NO'|translate}}</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="col-12 mt-4 row">
          <h6 class="col-8 text-left">{{'HOSTING.SMOKING'|translate}}</h6>
          <mat-radio-group
            color="primary"
            class="col-4 text-right"
            formControlName="smoking"
          >
            <mat-radio-button class="ml-2" value="true">{{'COMMON.YES'|translate}}</mat-radio-button>
            <mat-radio-button class="ml-2" value="false">{{'COMMON.NO'|translate}}</mat-radio-button>
          </mat-radio-group>
        </div>

        <hr class="col-11 mt-4" />

        <div class="col-12 mt-4 row">
          <div class="col-10 text-left">
            <h6>
              {{'HOSTING.INCLUDED_KM'|translate}}
              <mat-icon
                class="far fa-question-circle h6"
                matTooltip="{{'HOSTING.INCLUDED_KM_TOOLTIP'|translate}}"
                matTooltipPosition="above"
              ></mat-icon>
            </h6>
          </div>
          <input
            mdbInput
            digitOnly
            maxDigits="5"
            class="form-control col-2"
            placeholder="{{'COMMON.KM'|translate}}"
            formControlName="includedKm"
          />
        </div>
        <div class="col-12 mt-4 row">
          <div class="col-10 text-left">
            <h6>
              {{'HOSTING.PRICE_AFTER_LIMIT'|translate}}
              <mat-icon
                class="far fa-question-circle h6"
                matTooltip="{{'HOSTING.PRICE_AFTER_LIMIT_TOOLTIP'|translate}}"
                matTooltipPosition="above"
              ></mat-icon>
            </h6>
          </div>
          <input
            mdbInput
            digitOnly
            decimal="true"
            maxDecimalDigits="2"
            class="form-control col-2"
            placeholder="лв/км"
            formControlName="pricePerExtraKm"
          />
        </div>

        <!-- <hr class="col-11 mt-4">

                <div class="col-12 mt-4 row">
                    <div class="col-10 text-left">
                        <h6>Минимален брой дни за наем</h6>
                    </div>
                    <input mdbInput digitOnly maxDigits="2" class="form-control col-2" placeholder="" formControlName="minRent">
                </div>
                <div class="col-12 mt-4 row">
                    <div class="col-10 text-left">
                        <h6>Максимален брой дни за наем</h6>
                    </div>
                    <input mdbInput digitOnly maxDigits="3" class="form-control col-2" placeholder="" formControlName="maxRent">
                </div> -->
      </div>
    </div>

    <div class="col-12 col-md-6 price">
      <h4>{{'COMMON.PRICE'|translate}}</h4>
      <div class="row mb-3">
        <div class="col-12 mt-4 row">
          <div class="col-10 text-left">
            <h6>
              {{'HOSTING.PRICE_PER_DAY'|translate}}:
              <!-- <mat-icon
                class="far fa-question-circle h6"
                matTooltip="My tooltip"
                matTooltipPosition="above"
              ></mat-icon> -->
            </h6>
          </div>
          <input
            mdbInput
            digitOnly
            decimal="true"
            maxDecimalDigits="2"
            class="form-control col-2"
            placeholder="{{'COMMON.LV'|translate}}"
            formControlName="price"
          />
        </div>

        <hr class="col-11 mt-4" />

        <div class="col-12 mt-4 row">
          <div class="col-10 text-left">
            <h6>
              {{'HOSTING.WEEKLY_DISCOUNT'|translate}}:
              <mat-icon
                class="far fa-question-circle h6"
                matTooltip="{{'HOSTING.WEEKLY_DISCOUNT'|translate}}"
                matTooltipPosition="above"
              ></mat-icon>
            </h6>
          </div>
          <input
            mdbInput
            digitOnly
            maxDigits="2"
            class="form-control col-2"
            placeholder="%"
            formControlName="weeklyDiscount"
          />
        </div>

        <div class="col-12 mt-4 row">
          <div class="col-10 text-left">
            <h6>
              {{'HOSTING.MONTHLY_DISCOUNT'|translate}}:
              <mat-icon
                class="far fa-question-circle h6"
                matTooltip="{{'HOSTING.MONTHLY_DISCOUNT_TOOLTIP'|translate}}"
                matTooltipPosition="above"
              ></mat-icon>
            </h6>
          </div>
          <input
            mdbInput
            digitOnly
            maxDigits="2"
            class="form-control col-2"
            placeholder="%"
            formControlName="monthlyDiscount"
          />
        </div>
      </div>

      <mat-checkbox formControlName="agreed" class="col-12" color="primary"
        >{{'HOSTING.RULES_AGREEMENT'|translate}}</mat-checkbox
      >
      <button
        [disabled]="rulesForm.invalid || !rulesForm.controls['agreed'].value"
        type="button"
        class="create-btn"
        mdbBtn
        size="lg"
        gradient="blue"
        mdbWavesEffect
        (click)="submitForm()"
      >
      {{'HOSTING.ADD'|translate}}
      </button>
    </div>
  </div>
  <!-- {{rulesForm.invalid}}  {{rulesForm.controls['agreed'].value!=true}} -->

  <!-- <button (click)="print()">print</button> -->

  <button mat-button matStepperPrevious>{{'COMMON.BACK'|translate}}</button>
</div>
