<div class="car-card" [routerLink]="[car.id]">
    <div class="car-price">
        $$/ден
    </div>
    <div class="car-fav">
        <i class="far fa-heart"></i>
    </div>
    <img class="car-img" [src]="car.pictures[0].picture" alt="">
    <div class="car-info">
        <div class="row">
            <div class="col-7 text-left">
                {{ car.make }} {{ car.model }} <span class="car-year">{{ car.year }}</span>
            </div>
            <div class="col-5 text-right car-city">
                <i class="fas fa-map-marker-alt" style="font-size: 1rem"></i> {{ car.city }}
            </div>
        </div>
        <div class="row">
            <div class="col-6 text-left">
                <app-show-rating [rate]="car.id"></app-show-rating>
            </div>
            <div class="col-6 text-right car-city">
                <i class="fas fa-user-check" style="font-size: 1rem"></i> {{ car.owner.username }}
            </div>
        </div>
        <div class="row mt-2 text-left">
            <div class="col-4">
                <i class="fas fa-burn"> </i> <span class="car-second-info"> {{ car.consumption }}л/100км</span>
            </div>
            <div class="col-4"> 
                <i class="fas fa-gas-pump"></i> <span class="car-second-info"> {{ car.engine_type }}</span>
            </div>
            <div class="col-4">
                <img src="assets/images/gearbox.svg" class="car-icon" alt=""> <span class="car-second-info"> {{ car.transmission }}</span>
            </div>
        </div>
        <div class="row mt-1 text-left">
            <div class="col-4">
                <img src="assets/images/horsepower.png" class="car-icon" alt=""> <span class="car-second-info"> {{ car.horsepower }} к.с.</span>
            </div>
            <div class="col-4"> 
                <i class="fas fa-car"></i> <span class="car-second-info"> {{ car.category | convertCategory }}</span>
            </div>
            <div class="col-4">
                <img src="assets/images/seat.png" class="car-icon" alt=""> <span class="car-second-info"> {{ car.seats }} места</span>
            </div>
        </div>
    </div>
</div>