<div class="reservation row">
  <div class="col-12 col-lg-6 row">
    <img
      class="car-img col-12 col-md-6 p-0"
      [src]="reservation.car_id.pictures[0].picture"
      alt=""
      (click)="carDetails()"
    />
    <div class="col-12 col-md-6">
      <h4>
        <!-- {{ locale }} -->
        {{ reservation.car_id.make }}
      </h4>
      <h5>
        {{ reservation.car_id.model }}
      </h5>
      <hr class="m-1" />
      <!-- <i class="fas fa-user-check" style="font-size: 1rem"></i>  -->
      <img
        class="owner-img"
        [src]="reservation.car_id.owner.photo"
        alt="no image"
      />
      {{ reservation.car_id.owner.username }}
      <br />
      <i class="fas fa-mobile-alt"></i> {{ reservation.renter_id.phone }}
    </div>
  </div>
  <div class="col-12 col-lg-6 row text-left">
    <div class="col-12 col-md-6 col-lg-8">
      <div class="col-12 p-1">
        <div class="date-box text-center p-1">
          <span class="font-weight-bold h4">{{
            reservation.start_date | amLocale: locale | amDateFormat: "D"
          }}</span>
          <br class="p-0 m-0" />
          {{ reservation.start_date | amLocale: "bg" | amDateFormat: "MMM" }}
        </div>
        <div class="date-info">
          {{
            reservation.start_date
              | amLocale: "bg"
              | amDateFormat: "dddd"
              | titlecase
          }}
          - {{'CARS.RESERVATION.PICKUP'|translate}}
          <br class="p-0 m-0" />
          {{'CARS.RESERVATION.PICKUP_HOUR'|translate}}
        </div>
      </div>
      <div class="col-12 p-1">
        <div class="date-box text-center p-1">
          <span class="font-weight-bold h4">{{
            reservation.end_date | amLocale: "bg" | amDateFormat: "D"
          }}</span>
          <br class="p-0 m-0" />
          {{ reservation.end_date | amLocale: "bg" | amDateFormat: "MMM" }}
        </div>
        <div class="date-info">
          {{
            reservation.end_date
              | amLocale: "bg"
              | amDateFormat: "dddd"
              | titlecase
          }}
          - {{'CARS.RESERVATION.RETURN'|translate}}
          <br class="p-0 m-0" />
          {{'CARS.RESERVATION.RETURN_HOUR'|translate}}
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 text-center price">
      <p class="m-1">{{'USER.PAID'|translate}}:</p>
      <!-- <p *ngIf="reservation.status == 'refunded'; else paidLabel" class="m-1">
        Възвърнато:
      </p>
      <ng-template #paidLabel>
        <p class="m-1">Платено:</p>
      </ng-template> -->
      <h5>{{ reservation.total_price }}{{'COMMON.LV'|translate}}</h5>
      <hr class="m-1" />

      <div *ngIf="!reservation.present; else preReservation">
        <div *ngIf="reservation.status=='paid' && !reservation.reviewed" class="pointer" (click)="reviewReservation()">
          <i class="fas fa-star"></i>
          <p class="m-0">{{'USER.REVIEW'|translate}}</p>
        </div>
      </div>
      <ng-template #preReservation>
        <div
          *ngIf="refundable?.amount=='half'"
          class="pointer"
          (click)="declineReservation()"
        >
          <i class="fas fa-times text-danger"></i>
          <p>Откажи</p>
        </div>
        <div
          *ngIf="refundable?.amount=='full'"
          class="pointer"
          (click)="declineReservation()"
        >
          <i class="fas fa-times text-danger d-block"></i>
          <span class="font-italic">
            {{'USER.FREE_CANCEL'|translate}}
            {{
              refundable.date | amLocale: "bg" | amDateFormat: "D MMM, YYYY"
            }}</span
          >
        </div>
      </ng-template>
    </div>
  </div>
</div>
