<div class="container">
  <div class="register-form">
    <!-- <div class="modal-header">
			<h4 class="modal-title pull-left">Modal</h4>
			<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div> -->

    <form
      class="form-fields row"
      [formGroup]="registerForm"
      (keyup.enter)="registerUser()"
    >
      <div class="text-center col-12 mt-2">
        <h4>{{ 'HOME.AUTH.REGISTER.CREATE_H1'|translate }}</h4>
        <h6>{{ 'HOME.AUTH.REGISTER.CREATE_H2'|translate }}</h6>
        <hr />
      </div>

      <mat-form-field class="col-6">
        <input
          type="text"
          placeholder="{{ 'HOME.AUTH.REGISTER.USERNAME'|translate }}"
          matInput
          formControlName="username"
          autocomplete="off"
          required
        />
        <mat-error *ngIf="registerForm.hasError('required', 'username')"
          >{{ 'HOME.AUTH.REGISTER.USERNAME_ERROR_EMPTY'|translate }}
        </mat-error>
        <mat-error *ngIf="registerForm.hasError('usernameTaken', 'username')"
          >{{ 'HOME.AUTH.REGISTER.USERNAME_ERROR_TAKEN'|translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-6">
        <input
          type="email"
          placeholder="E-mail"
          matInput
          formControlName="email"
          autocomplete="off"
					required
					pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
        />
        <mat-error *ngIf="registerForm.hasError('emailTaken', 'email')"
          >{{ 'HOME.AUTH.REGISTER.EMAIL_ERROR_TAKEN'|translate }}</mat-error
        >
        <mat-error *ngIf="registerForm.hasError('required', 'email')"
          >{{ 'HOME.AUTH.REGISTER.EMAIL_ERROR_EMPTY'|translate }}</mat-error
        >
        <mat-error *ngIf="registerForm.hasError('pattern', 'email')"
          >{{ 'HOME.AUTH.REGISTER.EMAIL_ERROR_INVALID'|translate }}</mat-error
        >
      </mat-form-field>
      <mat-form-field class="col-6">
        <input
          type="text"
          placeholder="{{ 'HOME.AUTH.REGISTER.FIRST_NAME'|translate }}"
          matInput
          formControlName="firstName"
          autocomplete="off"
          style="text-transform: capitalize;"
          pattern="[a-zA-Z\u0400-\u04FF]+"
          required
				/>
				<mat-error *ngIf="registerForm.hasError('required', 'firstName')"
          >{{ 'HOME.AUTH.REGISTER.FIRST_NAME_ERROR_EMPTY'|translate }}</mat-error
        >
        <mat-error *ngIf="registerForm.hasError('pattern', 'firstName')"
          >{{ 'HOME.AUTH.REGISTER.FIRST_NAME_ERROR_INVALID'|translate }}</mat-error
        >
      </mat-form-field>
      <mat-form-field class="col-6">
        <input
          type="text"
          placeholder="{{ 'HOME.AUTH.REGISTER.LAST_NAME'|translate }}"
          matInput
          formControlName="lastName"
          autocomplete="off"
          pattern="[a-zA-Z\u0400-\u04FF]+"
          style="text-transform: capitalize;"
          required
        />
        <mat-error *ngIf="registerForm.hasError('required', 'lastName')"
          >{{ 'HOME.AUTH.REGISTER.LAST_NAME_ERROR_EMPTY'|translate }}</mat-error
        >
        <mat-error *ngIf="registerForm.hasError('pattern', 'lastName')"
          >{{ 'HOME.AUTH.REGISTER.FIRST_NAME_ERROR_INVALID'|translate }}</mat-error
        >
      </mat-form-field>
      <mat-form-field class="col-6">
        <input
          type="text"
          placeholder="{{ 'HOME.AUTH.REGISTER.PHONE'|translate }}"
          matInput
          formControlName="phone"
          autocomplete="off"
					required
					pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\./0-9]*$"
				/>
				<mat-error *ngIf="registerForm.hasError('required', 'phone')"
          >{{ 'HOME.AUTH.REGISTER.PHONE_ERROR_EMPTY'|translate }}</mat-error
        >
        <mat-error *ngIf="registerForm.hasError('pattern', 'phone')"
          >{{ 'HOME.AUTH.REGISTER.FIRST_NAME_ERROR_INVALID'|translate }}</mat-error
        >
      </mat-form-field>
      <mat-form-field class="col-6">
        <input
          readonly
          type="text"
          placeholder="{{ 'HOME.AUTH.REGISTER.BIRTH_DATE'|translate }}"
          matInput
          formControlName="dateOfBirth"
          autocomplete="off"
          required
          [owlDateTimeTrigger]="birthPicker"
          [owlDateTime]="birthPicker"
        />
        <mat-error *ngIf="registerForm.hasError('notAdult', 'dateOfBirth')">{{ 'HOME.AUTH.REGISTER.BIRTH_DATE_ERROR_ADULT'|translate }}</mat-error>
        <mat-error *ngIf="registerForm.hasError('required', 'dateOfBirth')">{{ 'HOME.AUTH.REGISTER.BIRTH_DATE_ERROR_EMPTY'|translate }}</mat-error>
      </mat-form-field>
      <owl-date-time
        #birthPicker
        startView="multi-years"
        [pickerType]="'calendar'"
        [firstDayOfWeek]="1"
      ></owl-date-time>
      <mat-form-field class="col-6">
        <input
          [type]="hide ? 'password' : 'text'"
          placeholder="{{ 'HOME.AUTH.REGISTER.PASSWORD'|translate }}"
          matInput
          formControlName="password"
          required
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-icon
          class="far fa-question-circle password-specs"
          placement="top"
          ngbTooltip="{{ 'HOME.AUTH.REGISTER.PASSWORD_REQUIREMENTS'|translate }}"
        ></mat-icon>
        <mat-error *ngIf="registerForm.hasError('required', 'password')"
          >{{ 'HOME.AUTH.REGISTER.PASSWORD_ERROR_EMPTY'|translate }}</mat-error
        >
        <mat-error *ngIf="registerForm.hasError('pattern', 'password')"
          >{{ 'HOME.AUTH.REGISTER.PASSWORD_ERROR_REQUIREMENTS'|translate }}</mat-error
        >
      </mat-form-field>
      <mat-form-field class="col-6">
        <input
          type="password"
          placeholder="{{ 'HOME.AUTH.REGISTER.CONFIRM_PASSWORD'|translate }}"
          matInput
          formControlName="confirmPassword"
          required
        />
        <mat-error *ngIf="registerForm.hasError('required', 'confirmPassword')"
          >{{ 'HOME.AUTH.REGISTER.CONFIRM_PASSWORD'|translate }}</mat-error
        >
        <mat-error *ngIf="registerForm.hasError('mustMatch', 'confirmPassword')"
          >{{ 'HOME.AUTH.REGISTER.CONFIRM_PASSWORD_ERROR'|translate }}
        </mat-error>
      </mat-form-field>
    </form>
    <div class="text-center mt-3">
      <button
        class="search-btn"
        type="button"
        mdbBtn
        gradient="blue"
        size="lg"
        mdbWavesEffect
        (click)="registerUser()"
        [disabled]="registerForm.invalid"
      >
      {{ 'HOME.AUTH.REGISTER.REGISTER'|translate }}
      </button>
      <!-- <p class="message">Имате профил? <a (click)="goToLogin()">Логнете се тук</a></p> -->
    </div>
    <!-- <button (click)="printInfo()">Print</button> -->
  </div>
</div>
