.cal-input{
    margin: 0 auto 20px;
    max-width: 220px;
}

.reserve-btn{
    font-size: 1.2rem !important;
    // width: 100%;
    color: white;
    background-color: rgb(0, 146, 12) !important;
    // height: 60px;
    margin-top: 20px;
}

.login-btn{
    font-size: 1.1rem !important;
    // width: 100%;
    // height: 80px;
    margin-top: 20px;
}

.cal-start{
    color: green;
}

.pricing{
    // border: 1px solid lightgray;
    // padding: 10px;
    .price-left{
        display: table-cell;
        width: 100%;
        text-align: left;
    }
    .price-right{
        display: table-cell;
        text-align: right;
    }
    .custom-hr{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
