<div class="h1">
  Резервация
</div>

<!-- <img class="w-100 opacity-30" src="assets/images/linebreak.png" alt="" /> -->

<div class="col-12 text-center">
  <owl-date-time-inline
  [(ngModel)]="selectedMoments"
  [selectMode]="'range'"
  [pickerType]="'calendar'"
  [min]="min"
  [max]="max"
  [firstDayOfWeek]="1"
  [owlDateTimeFilter]="datesFilter"
  (ngModelChange)="processDates($event)"
  ></owl-date-time-inline>
</div>

<a [routerLink]="" (click)="resetDates()">Изчисти датите</a>

<div class="container pricing">
  <div class="h4">
    Ценоразпис:
  </div>

  <hr />

  <span class="price-left">{{ car.price }}лв х {{ daysReserved }} дни</span>
  <span class="price-right">{{ car.price * daysReserved }}лв</span>

  <hr class="custom-hr" />

  <span *ngIf="discount>0" class="price-left">Отстъпка</span>
  <span *ngIf="discount>0" class="price-right">{{ discount }}%</span>

  <hr *ngIf="discount>0" class="custom-hr" />

  <span class="price-left">Такса <mat-icon
    class="far fa-question-circle h6"
    matTooltip="Това ни помага да поддържаме платформата активна 24/7"
    matTooltipPosition="above"
  ></mat-icon></span> <span class="price-right">7лв</span>

  <hr class="custom-hr" />

  <span class="price-left font-weight-bold">Общо</span>
  <span class="price-right font-weight-bold"
    >{{ reservationPrice }}лв</span
  >
</div>

<button
  *ngIf="loggedIn(); else elseBlock"
  [disabled]="!selectedMoments[1]"
  type="button"
  class="reserve-btn"
  mdbBtn
  size="lg"
  mdbWavesEffect
  (click)="openReservationForm()"
>
  Резервирай
</button>
<ng-template #elseBlock>
  <button
    type="button"
    class="login-btn"
    mdbBtn
    gradient="blue"
    size="lg"
    mdbWavesEffect
    (click)="openModalWithComponent(loginComponent)"
  >
    Влезте в акаунта си, за да довършите резервацията
  </button>
</ng-template>
