<div class="h1">
  {{'CARS.DETAILS.RESERVATION'|translate}}
</div>

<!-- <img class="w-100 opacity-30" src="assets/images/linebreak.png" alt="" /> -->

<div class="col-12 text-center">
  <owl-date-time-inline
  class="owl"
  [(ngModel)]="selectedMoments"
  [selectMode]="'range'"
  [pickerType]="'calendar'"
  [min]="min"
  [max]="max"
  [firstDayOfWeek]="1"
  [owlDateTimeFilter]="datesFilter"
  (ngModelChange)="processDates($event)"
  ></owl-date-time-inline>
</div>

<a [routerLink]="" (click)="resetDates()">{{'CARS.DETAILS.CLEAR_DATES'|translate}}</a>

<div class="container pricing">
  <div class="h4">
    {{'CARS.DETAILS.PRICE_LIST'|translate}}:
  </div>

  <hr />

  <span class="price-left">{{ car.price }}{{'COMMON.LV'|translate}} х {{ daysReserved }} {{'COMMON.DAYS'|translate}}</span>
  <span class="price-right">{{ car.price * daysReserved }}лв</span>

  <hr class="custom-hr" />

  <span *ngIf="discount>0" class="price-left">{{'COMMON.DISCOUNT'|translate}}</span>
  <span *ngIf="discount>0" class="price-right">{{ discount }}%</span>

  <hr *ngIf="discount>0" class="custom-hr" />

  <span class="price-left">{{'COMMON.TAX'|translate}} <mat-icon
    class="far fa-question-circle h6"
    matTooltip="{{'CARS.DETAILS.TAX_HELP'|translate}}"
    matTooltipPosition="above"
  ></mat-icon></span> <span class="price-right">7{{'COMMON.LV'|translate}}</span>

  <hr class="custom-hr" />

  <span class="price-left font-weight-bold">{{'COMMON.TOTAL'|translate}}</span>
  <span class="price-right font-weight-bold"
    >{{ reservationPrice }}{{'COMMON.LV'|translate}}</span
  >
</div>

<button
  *ngIf="loggedIn(); else elseBlock"
  [disabled]="!selectedMoments[1]"
  type="button"
  class="reserve-btn"
  mdbBtn
  size="lg"
  mdbWavesEffect
  (click)="openReservationForm()"
>
{{'CARS.DETAILS.RESERVE'|translate}}
</button>
<ng-template #elseBlock>
  <button
    type="button"
    class="login-btn"
    mdbBtn
    gradient="blue"
    size="lg"
    mdbWavesEffect
    (click)="openModalWithComponent(loginComponent)"
  >
    {{'CARS.DETAILS.LOGIN_TO_RESERVE'|translate}}
  </button>
</ng-template>
