<h2 class="">{{ 'USER.PASSWORD_CHANGE'|translate }}</h2>
<hr>
<form
  class="form-fields row mt-5 mb-5"
  [formGroup]="registerForm"
  (keyup.enter)="changePassword()"
>
  <mat-form-field class="col-6">
    <input
      [type]="hide ? 'password' : 'text'"
      placeholder="{{ 'HOME.AUTH.REGISTER.PASSWORD' | translate }}"
      matInput
      formControlName="password"
      required
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    <mat-icon
      class="far fa-question-circle password-specs"
      placement="bottom"
      ngbTooltip="{{ 'HOME.AUTH.REGISTER.PASSWORD_REQUIREMENTS' | translate }}"
    ></mat-icon>
    <mat-error *ngIf="registerForm.hasError('required', 'password')">{{
      "HOME.AUTH.REGISTER.PASSWORD_ERROR_EMPTY" | translate
    }}</mat-error>
    <mat-error *ngIf="registerForm.hasError('pattern', 'password')">{{
      "HOME.AUTH.REGISTER.PASSWORD_ERROR_REQUIREMENTS" | translate
    }}</mat-error>
  </mat-form-field>
  <mat-form-field class="col-6">
    <input
      type="password"
      placeholder="{{ 'HOME.AUTH.REGISTER.CONFIRM_PASSWORD' | translate }}"
      matInput
      formControlName="confirmPassword"
      required
    />
    <mat-error *ngIf="registerForm.hasError('required', 'confirmPassword')">{{
      "HOME.AUTH.REGISTER.CONFIRM_PASSWORD" | translate
    }}</mat-error>
    <mat-error *ngIf="registerForm.hasError('mustMatch', 'confirmPassword')"
      >{{ "HOME.AUTH.REGISTER.CONFIRM_PASSWORD_ERROR" | translate }}
    </mat-error>
  </mat-form-field>
  <div class="text-center mt-3 w-100">
    <button
      class="search-btn"
      type="button"
      mdbBtn
      gradient="blue"
      size="lg"
      mdbWavesEffect
      (click)="changePassword()"
      [disabled]="registerForm.invalid"
    >
    {{ 'USER.PASSWORD_CHANGE'|translate }}
    </button>
  </div>
</form>
