<div class="form-container text-center">
    <h3 class="text-center pt-3">{{ 'HOME.FILTERS.FIND_YOUR_CAR' | translate }}</h3>

    <!-- <hr> -->

    <img class="w-100 linebreak" src="assets/images/linebreak2.png" alt="">
    <app-search-filters></app-search-filters>

    <button class="search-btn" type="button" mdbBtn gradient="blue" size="lg" mdbWavesEffect (click)="search()">{{ 'HOME.FILTERS.SEARCH' | translate }} <i
            class="fas fa-search"></i></button>

</div>

<!-- <button (click)="search()">
    get child
</button> -->
