.uploadfilecontainer {
    background-image: url("../../../../../../../assets/cloud-2044823_960_720.png");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    height: 150px;
    width: 80%;
    margin: 20px auto;
    border: 2px dashed #1C8ADB;
    border-radius: 10px;
    transition: 0.4s;
    &:hover{
      cursor: pointer;
    background-color: #9ecbec !important;
    opacity: 0.8;
    }
  }
  
  .files-list {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px auto;
    background: #ffffff;
    border: 1px dashed;
    border-radius: 12px;
    padding: 5px;
    color: #1c8adb;
    // transition: 0.4s;
    &:hover{
      background-color: #9ecbec;
    }
  }

  .files-list .delete-file {
    background: transparent;
    border: none;
    cursor: pointer;
    img{
      width: 30px;
    }
  }

  ::ng-deep .popover{
    max-width: 100%;
    padding: 0;
    img{
      padding: 0;
      margin: 0;
      width: 400px;
    }
  }