<div class="gradient"></div>
<div class="container mb-3">
  <h2 class="mt-2"> {{ 'CARS.RESERVATION.RESERVATIONS_FOR'|translate }} {{ car?.make }} {{ car?.model }}</h2>
  <h3 *ngIf="upcomingReservations.length; else noUpcoming" class="mt-5">
    {{ 'USER.UPCOMING'|translate }}
  </h3>

  <ng-template #noUpcoming>
    <h1 class="text-center mt-5">
      {{ 'CARS.RESERVATION.NO_UPCOMING_FOR_CAR'|translate }}
    </h1>
  </ng-template>

  <div *ngIf="loading">
    <app-spinner></app-spinner>
  </div>

  <div
    *ngFor="let reservation of upcomingReservations"
    class="col-12 text-center mt-4"
  >
    <app-car-res-item [reservation]="reservation"></app-car-res-item>
  </div>

  <h3 *ngIf="passedReservations.length" class="mt-5">
    {{ 'USER.OLD'|translate }}
  </h3>

  <div
    *ngFor="let reservation of passedReservations"
    class="col-12 text-center mt-4"
  >
    <app-car-res-item [reservation]="reservation"></app-car-res-item>
  </div>

  <h3 *ngIf="canceledReservations.length" class="mt-5">
    {{ 'USER.CANCELED'|translate}}
  </h3>

  <div
    *ngFor="let reservation of canceledReservations"
    class="col-12 text-center mt-4"
  >
    <app-car-res-item [reservation]="reservation"></app-car-res-item>
  </div>

  <div
    *ngIf="
      !upcomingReservations.length &&
      !passedReservations.length &&
      !canceledReservations.length
    "
    class="mt-5"
  >
    <h1 class="text-center">
      {{ 'CARS.RESERVATION.WAITING_FIRST'|translate }}
    </h1>
  </div>
</div>
