/* You can add global styles to this file, and also import other style files */
// @import '~bs-stepper/dist/css/bs-stepper.min.css';
@import "~ng-pick-datetime/assets/style/picker.min.css";
html {
    overflow-y: scroll;
  }

body {
  // background-color: grey
  padding-right: 0 !important;
  font-family: 'PT Sans', sans-serif;
}

.mat-tooltip {
  font-size: 14px;
  color: white;
}

.custom-snackbar{
  button{
    color: rgb(209, 209, 209);
  }
}

.registration-snackbar{
  position: relative;
  top: 50px !important;
  background-color: rgb(238, 238, 238);
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
  button{
    background-color: rgb(168, 169, 170);
    color: black
  }
}

input[type="button"]{
  outline:none;
}

input[type="button"]::-moz-focus-inner {
  border: 0;
}

div, app-show-rating{
  outline: none;
}

mat-spinner{
  // display: none;
  position: fixed; overflow: visible; margin: auto; top: 0; left: 0; bottom: 0; right: 0; z-index: 999;
}

.cdk-overlay-container{
  z-index: 1500 !important;
}
