<div class="container">
    <div class="row mt-1 text-center">
        <app-search-filters class="col-12 p-0" [filters]="filters"></app-search-filters>
        <div class="col-12 text-center">
            <!-- <button type="button" class="btn btn-primary btn-lg rounded-circle"><i class="fas fa-search"></i></button> -->
            <button class="search-btn" type="button" mdbBtn gradient="blue" size="md" mdbWavesEffect (click)="searchCars()">Търси</button>
        </div>
    </div>
    <div class="row mb-5">
        <div *ngIf="loading">
            <app-spinner></app-spinner>
        </div>

        <div *ngFor="let car of cars" class="col-12 col-lg-6 text-center mt-4">
            <app-cars-list-item [car]="car" [filters]="filters"></app-cars-list-item>
        </div>

        <div *ngIf="noCars">
            <h1 class="text-center">Не намерихме автомобили отговарящи на вашето търсене</h1>
        </div>
    </div>
</div>

<!-- <button (click)="print()">PRess</button> -->