<div class="container" *ngIf="(car | async) as car">
  <div class="row">
    <app-car-carousel class="col-xl-8 col-lg-12" [pictures]="car.pictures"></app-car-carousel>
    <div class="col-xl-4 reservation text-center">
      <app-car-reservation-tab [car]="car"></app-car-reservation-tab>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-8 primary-info">
      <span class="car-make">
        {{ car.make }} {{ car.model }}
      </span>
      <span class="car-year">
        {{ car.year }}
      </span>
      <div class="car-rating">
        <app-show-rating></app-show-rating> <span class="small-caption">&bull; 23 наемателя</span>
      </div>

      <div class="col-xl-12 secondary-info">
        <div class="row mt-2 text-left">
          <div class="col-4">
            <i class="fas fa-burn"> </i> <span class="car-second-info"> {{ car.consumption }}л/100км</span>
          </div>
          <div class="col-4">
            <i class="fas fa-gas-pump"></i> <span class="car-second-info"> {{ car.engine_type }}</span>
          </div>
          <div class="col-4">
            <img src="assets/images/gearbox.svg" class="car-icon" alt=""> <span class="car-second-info">
              {{ car.transmission }}</span>
          </div>
        </div>
        <div class="row mt-1 text-left">
          <div class="col-4">
            <img src="assets/images/horsepower.png" class="car-icon" alt=""> <span class="car-second-info">
              {{ car.horsepower }} к.с.</span>
          </div>
          <div class="col-4">
            <i class="fas fa-car"></i> <span class="car-second-info"> {{ car.category | convertCategory }}</span>
          </div>
          <div class="col-4">
            <img src="assets/images/seat.png" class="car-icon" alt=""> <span class="car-second-info"> {{ car.seats }}
              места</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-4 owner text-center">
      <div>
        Собственик: 
      </div>
      <img [src]="car.owner.photo" alt="">
      {{ car.owner.first_name }}
    </div>
  </div>

  <hr>

  <div class="row extras">
    <div class="col-4">
      <img src="assets/images/safety.svg" class="icon" alt=""><span class="label"> Безопасност</span>
    </div>
    <div class="col-8">
      <span *ngFor="let extra of car.extras">
        <span *ngIf="extra.category_id == 1" class="extra-label">
          &bull;{{ extra.name }}
        </span>
      </span>
    </div>
  </div>

  <hr>

  <div class="row extras">
    <div class="col-4">
      <img src="assets/images/comfort.png" class="icon" alt=""><span class="label"> Комфорт</span>
    </div>
    <div class="col-8">
      <span *ngFor="let extra of car.extras">
        <span *ngIf="extra.category_id == 2" class="extra-label">
          &bull;{{ extra.name }}
        </span>
      </span>
    </div>
  </div>

  <hr>

  <div class="row extras">
    <div class="col-4">
      <img src="assets/images/others.png" class="icon" alt=""><span class="label"> Други</span>
    </div>
    <div class="col-8">
      <span *ngFor="let extra of car.extras">
        <span *ngIf="extra.category_id == 3" class="extra-label">
          &bull;{{ extra.name }}
        </span>
      </span>
    </div>
  </div>

  <hr>

  <div class="reservation">
    comment section
  </div>

</div>